@import "../../styles";

.simple-hero {
  @include center();
  flex-direction: column;
  .hero-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .hero-details {
      display: flex;
    }
    .label {
      color: $color-dark-grey;
      font-family: font(arial-font);
      font-weight: weight(bold);
      font-size: 20px;
      @include center();
      flex-direction: row;
    }
    input {
      font-size: 1em;
      margin: 0 0.5rem;
      padding: 0 0.5rem;
      background-color: transparent;
      color: $color-dark-grey;
      border: none;
      border-bottom: solid 1px $color-dark-grey-opacity;
      input:focus {
        outline: none;
      }
    }
  }
  button {
    margin-top: 20px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    @include link();
    border: none;
  }
}




