@import "../styles";

h1 {
  @include center();
  font-family: font(lobster-font);
  font-weight: weight(bold);
  font-size: 64px;
  line-height: 100px;
  margin: 40px 0;
}

nav {
  @include center();
  margin: 20px 0;
  a {
    font-family: font(open-sans-font);
    padding: 1rem;
    @include link();
    margin: 10px;
    border-radius: 4px;
  }
}