@import "../../styles";

h2 {
  color: $color-red;
  font-family: font(open-sans-font);
  font-weight: weight(thin);
  justify-content: start;
}

.clear {
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  &:hover {
    color: $color-white;
    background-color: $color-dark-grey;
  }
}

.message {
  font-family: font(arial-font);
  font-size: 12px;
}