@import "../../styles";

.heroes-menu {
  @include center();
  justify-content: space-evenly;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  a {
    background-color: #3f525c;
    border-radius: 2px;
    font-family: font(open-sans-font);
    font-size: 1.2rem;
    text-decoration: none;
    @include center();
    color: $color-white;
    height: 50%;
    width: 20%;
    &:hover {
      background-color: $color-light-blue;
    }
  } 
}