@import "../../styles";

.heroes {
  margin: 0 auto;
  list-style-type: none;
  width: 15%;
  li {
    cursor: pointer;
    position: relative;
    height: 30px;
    @include center();
    flex-direction: row;
    margin: 0.5em 0;
    &:hover {
      left: .1em;
    }
    a {
      display: flex;
      color: $color-dark-grey;
      text-decoration: none;
      background-color: $color-list;
      height: 100%;
      border-radius: 4px;
      width: 100%;
      &:hover {
        background-color: $color-light-blue-opacity;
      }
      .badge {
        @include center();
        font-size: small;
        color: $color-white;
        padding: 0 0.8em;
        background-color: $color-dark-grey;
        border-radius: 4px 0 0 4px;
      }
      .name {
        @include center();
        margin-left: 0.5em;
      }
    }
  } 
}